In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import csv

In [2]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r = requests.get(url)

In [3]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

# looping through the tr tag to extract the data
for i in tr:
  row_data = i.find_all('td')
  l = []
  for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

  row.append(l)

In [4]:
list = []
for i in row:
  #print(i)
  pos = i[0][0]
  team = i[1][0]
  matches = i[2][0]
  point = i[3][0]
  rating = i[4][0]
  
  #---------------------------------------Saving the data into list of dictionary--------------------------------
  d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
  list.append(d)

In [5]:
df = pd.DataFrame(list)
df

  POS          TEAM MATCHES POINTS RATING
0   1     Australia      21  3,379    161
1   2       England      25  2,983    119
2   3  South Africa      29  3,390    117
3   4         India      26  2,934    113
4   5   New Zealand      26  2,392     92
5   6   West Indies      22  1,872     85
6   7      Pakistan      20  1,496     75
7   8    Bangladesh       5    306     61
8   9     Sri Lanka      11    519     47
9  10       Ireland       2     25     13

In [6]:
url = 'https://www.icc-cricket.com/rankings/Womens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [7]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [8]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

In [9]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ ODI_Batting_Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [10]:
df

    POS             PLAYER TEAM RATING              CAREER BEST RATING
0     1        Lizelle Lee   SA    761   774 v West Indies, 07/09/2021
1     2       Alyssa Healy  AUS    750         776 v India, 21/09/2021
2     3        Mithali Raj  IND    738     839 v Australia, 24/12/2004
3     4     Tammy Beaumont  ENG    728         791 v India, 27/06/2021
4     5  Amy Satterthwaite   NZ    717     756 v Australia, 02/03/2017
..  ...                ...  ...    ...                             ...
95   96      Nashra Sandhu  PAK    188    228 v Bangladesh, 02/11/2019
96   97       Megan Schutt  AUS    184     209 v Sri Lanka, 23/09/2016
97   98     Natasha McLean   WI    183   243 v New Zealand, 08/10/2013
98   99      Sanjida Islam  BAN    181  192 v South Africa, 04/05/2018
99  100   Shamilia Connell   WI    180      230 v Pakistan, 09/02/2019

[100 rows x 5 columns]

In [16]:

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [17]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [18]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

In [19]:

df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ODI Bowling Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [20]:
df

   POS               PLAYER TEAM RATING              CAREER BEST RATING
0    1        Jess Jonassen  AUS    760   808 v New Zealand, 10/04/2021
1    2       Jhulan Goswami  IND    727       796 v England, 28/02/2007
2    3         Megan Schutt  AUS    717   766 v West Indies, 11/09/2019
3    4       Marizanne Kapp   SA    715   749 v West Indies, 10/09/2021
4    5    Sophie Ecclestone  ENG    701   701 v New Zealand, 26/09/2021
..  ..                  ...  ...    ...                             ...
95  96      Stella Campbell  AUS    104         104 v India, 26/09/2021
96  97           Anne Bosch   SA    102         113 v India, 17/03/2021
97  98       Nilakshi Silva   SL    100  130 v South Africa, 11/02/2019
98  99  Hansima Karunaratne   SL     95     101 v Australia, 05/10/2019
99            Kainat Imtiaz  PAK     95   148 v West Indies, 11/02/2019

[100 rows x 5 columns]